.RatedMovieList {
  list-style: none;
  padding-top: 44px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 32px 16px;

  li {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;

    img {
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: cover;
      border-radius: 5px;
    }
    p {
      color: rgb(41, 42, 50);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.3px;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 4px 0;
    }
    span {
      color: rgb(120, 120, 120);
      font-size: 13px;
      font-weight: 400;
      letter-spacing: -0.2px;
      line-height: 18px;
      white-space: nowrap;
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
