.userContainer {
  width: 100%;
  max-width: 600px;
  background-color: inherit;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 6px;
  margin-bottom: 90px;
  @media (max-width: 500px) {
    border: none;
  }

  section {
    width: 100%;
    background-color: white;
  }
  .profileSection,
  .storageSection {
    margin: 0 0 12px 0;
  }
  .storageSection.noBottomMargin {
    margin: 0;
    border-radius: 0 0 6px 6px;
  }

  .likeSection {
    margin: 0;
  }
}
.profileSection {
  position: relative;
  border-radius: 6px 6px 0 0;

  .backgroundPhoto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35%;
  }

  .setBttnBox {
    position: relative;
    height: 70px;
  }
  .setBttn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE5LjQzIDEyLjk4Yy4wNC0uMzIuMDctLjY0LjA3LS45OCAwLS4zNC0uMDMtLjY2LS4wNy0uOThsMi4xMS0xLjY1Yy4xOS0uMTUuMjQtLjQyLjEyLS42NGwtMi0zLjQ2Yy0uMTItLjIyLS4zOS0uMy0uNjEtLjIybC0yLjQ5IDFjLS41Mi0uNC0xLjA4LS43My0xLjY5LS45OGwtLjM4LTIuNjVBLjQ4OC40ODggMCAwIDAgMTQgMmgtNGMtLjI1IDAtLjQ2LjE4LS40OS40MmwtLjM4IDIuNjVjLS42MS4yNS0xLjE3LjU5LTEuNjkuOThsLTIuNDktMWMtLjIzLS4wOS0uNDkgMC0uNjEuMjJsLTIgMy40NmMtLjEzLjIyLS4wNy40OS4xMi42NGwyLjExIDEuNjVjLS4wNC4zMi0uMDcuNjUtLjA3Ljk4IDAgLjMzLjAzLjY2LjA3Ljk4bC0yLjExIDEuNjVjLS4xOS4xNS0uMjQuNDItLjEyLjY0bDIgMy40NmMuMTIuMjIuMzkuMy42MS4yMmwyLjQ5LTFjLjUyLjQgMS4wOC43MyAxLjY5Ljk4bC4zOCAyLjY1Yy4wMy4yNC4yNC40Mi40OS40Mmg0Yy4yNSAwIC40Ni0uMTguNDktLjQybC4zOC0yLjY1Yy42MS0uMjUgMS4xNy0uNTkgMS42OS0uOThsMi40OSAxYy4yMy4wOS40OSAwIC42MS0uMjJsMi0zLjQ2Yy4xMi0uMjIuMDctLjQ5LS4xMi0uNjRsLTIuMTEtMS42NXpNMTIgMTUuNWMtMS45MyAwLTMuNS0xLjU3LTMuNS0zLjVzMS41Ny0zLjUgMy41LTMuNSAzLjUgMS41NyAzLjUgMy41LTEuNTcgMy41LTMuNSAzLjV6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
  }
  .profileInfoBox {
    position: inherit;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 30px 15px;

    .profilePhoto {
      margin: 0 auto;
      width: 135px;
      height: 135px;
      border-radius: 50%;
      border: 1px solid rgb(227, 227, 227);
      margin-bottom: 8px;
    }
    h1 {
      color: rgb(41, 42, 50);
      font-size: 21px;
      margin: 0;
      text-align: center;
    }
    p {
      text-align: center;
      color: rgb(116, 116, 123);
      font-size: 13px;
      line-height: 20px;
      word-break: break-all;
      margin: 0;
    }
    .connection {
      width: 100%;

      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      a {
        text-decoration: none;
        color: black;
      }
      span {
        font-weight: bold;
      }
    }
    .userEditBttn {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 14px;
      cursor: pointer;
      color: rgb(41, 42, 50);
      background-color: white;
      border: 1px solid rgb(212, 212, 212);
    }
    .followBttn {
      width: 100%;
      height: 40px;
      background-color: rgb(41, 42, 50);
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 16px;
      font-weight: 500;
      margin-top: 14px;
      cursor: pointer;
    }
    .unfollow {
      color: rgb(41, 42, 50);
      background-color: white;
      border: 1px solid rgb(212, 212, 212);
    }
  }
  .userTabBox {
    display: flex;
    align-items: center;
    padding: 12px;
    border-top: 1px solid rgb(244, 244, 247);
    .ratings,
    .comments {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      &:active {
        color: inherit;
      }
      .count {
        color: black;
        font-weight: bold;
      }
      .underLetter {
        color: rgb(116, 116, 123);
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}
.verticalLine {
  background-color: rgb(232, 232, 239);

  height: 12px;
  width: 1px;
  margin: 0 12px;
}
.storageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 14px;
    width: 100%;
    padding: 0 15px;
    // text-align: center;
    font-size: 21px;
  }
  .movieStorageBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:active {
      color: inherit;
    }

    .movieIcon {
      width: 60px;
      height: 60px;
      background: rgb(246, 246, 246);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 24px;
        height: 24px;
        color: rgb(158, 159, 161);
        use {
          width: 20px;
          height: 20px;
        }
      }
    }
    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      margin: 8px 5px 0px;
    }
  }
}
.likeSection {
  padding: 10px 0;
  margin: 0;
  border-radius: 0 0 6px 6px;
  h1 {
    // text-align: center;
    padding: 0 15px;
    font-size: 21px;
  }
  .commentLikeTab {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:active {
      color: inherit;
    }
    .likeCommentCount {
      color: rgb(116, 116, 123);
      font-size: 16px;
      margin-left: 7px;
    }
    img {
      margin-left: auto;
      width: 9px;
      height: 14px;
      object-fit: cover;
    }
  }
}
