.fixedTab {
  position: fixed;
  top: 62px;
  width: 100%;
  z-index: 30;
  background-color: white;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.ratingsPage,
.doingsPage,
.wishesPage {
  padding-top: 160px;
  padding-bottom: 40px;
  min-height: 100vh;
}

.backButtonContainer {
  padding: 0 16px;
  height: 44px;
  display: flex;
  align-items: center;
  button {
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTYuNzU1IDExLjk4OGw0Ljk1OCA0Ljk1OGEuOTguOTggMCAxIDEtMS4zODcgMS4zODdMNCAxMi4wMDdsLjAwNS0uMDA1TDQgMTEuOTk3bDYuMzQzLTYuMzQzYS45Ny45NyAwIDEgMSAxLjM3MyAxLjM3M2wtNC45NjEgNC45NnoiLz4KICAgICAgICA8cGF0aCBkPSJNNiAxMWgxM2ExIDEgMCAwIDEgMCAySDZ2LTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
  }
}
.titleContainer {
  padding: 0 16px;
  height: 44px;
  font-size: 22px;
  font-weight: 700;
  span {
    display: inline-block;
    color: rgb(160, 160, 160);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin: 12px 0px 12px 6px;
  }
}

@media (max-width: 768px) {
  .titleContainer {
    text-align: center;
  }
}

.movieListSection {
  padding: 0px 10px 20px 10px;
  width: 100%;
  margin: 0;
}
.movieList {
  list-style: none;
  padding-top: 44px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 32px 16px;

  li {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;

    img {
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: cover;
      border-radius: 5px;
    }
    p {
      color: rgb(41, 42, 50);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.3px;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 4px 0;
    }
    span {
      color: rgb(120, 120, 120);
      font-size: 13px;
      font-weight: 400;
      letter-spacing: -0.2px;
      line-height: 18px;
      white-space: nowrap;
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
