.commentInfo {
  .commentHeader {
    margin-bottom: 18px;
  }

  .commentBody {
    color: rgb(74, 74, 74);
    margin-bottom: 22px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 24px;
    word-wrap: break-word;
    white-space: pre-line;
    overflow: hidden;
  }
}
