@import "../utils/common.module.scss";

.headerBackground {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 550px;
  margin: 0;
}
.headerCon {
  @include pageContainer;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;
  color: $white;

  h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
  }
  .headerText {
    margin-top: 8px;
    line-height: 18px;
    font-size: 14px;
  }
}

.panelBackground {
  display: flex; // 자식의 width에 margin이 포함되어 계산
  margin: 0 0 60px 0;
  background-color: #f7f7f7;
}
.panelCon {
  @include pageContainer;

  display: flex;
  width: 100%;
  padding: 30px 0 60px 0;
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
  color: $medium-gray;

  @media (max-width: $small-screen) {
    flex-direction: column-reverse;
  }

  .imageCon {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 280px;
      height: 400px;
      margin-bottom: 30px;
      border-radius: 5px;
      transition: width 0.3s, height 0.3s;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
      @media (max-width: #{$medium-screen + 100}) {
        width: 200px;
        height: 280px;
      }
      @media (max-width: $small-screen) {
        width: 280px;
        height: 400px;
      }
    }
  }
  .reviewCon {
    width: 100%;
    margin-left: 32px;

    @media (max-width: $small-screen) {
      margin-left: 0;
    }

    .reviewNav {
      display: grid;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      row-gap: 20px;
      grid-template:
        "starRating avgRating menu"
        / auto auto auto;
      padding-bottom: 10px;

      @media (max-width: #{$max-screen + 120}) {
        grid-template:
          "starRating avgRating"
          "menu menu"
          / 1fr 1fr;
        padding-bottom: 20px;
      }
      @media (max-width: $small-screen) {
        grid-template:
          "starRating"
          "avgRating"
          "menu"
          / 1fr;
      }

      .userRatingCon {
        grid-area: starRating;
        display: flex;
        flex-direction: column;
        width: 220px;

        .starRatingBox {
          height: 44px;
        }
        .userRatingTextBox {
          margin: 10px 0 0 6px;
        }
      }
      .avgRatingCon {
        grid-area: avgRating;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media (max-width: $small-screen) {
          border-top: solid 1px $light-gray;
          padding-top: 20px;
        }

        .avgRatingDigit {
          margin-bottom: 8px;
          line-height: 42px;
          font-size: 36px;
          font-weight: 400;
          color: $medium-gray;
        }
      }
      .reviewMenuCon {
        grid-area: menu;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        @media (max-width: #{$max-screen + 120}) {
          border-top: solid 1px $light-gray;
          padding-top: 20px;
        }

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 62px;
          list-style-type: none;
          cursor: pointer;

          .reviewMenuIconBox {
            height: 50px;
            fill: currentColor;

            svg {
              width: 42px;
              height: 40px;
              padding: 0;
              transition: transform 0.3s ease;
            }
            .checked {
              fill: $pink;
            }
          }

          &:hover {
            color: $light-black;

            svg {
              fill: $light-black;
              transform: scale(1.3);
            }
          }
        }
      }
    }

    .overviewBox {
      min-height: 150px;
      padding: 20px 0;
      border-top: solid 1px $light-gray;
      line-height: 22px;
      font-size: 14px;
      white-space: pre-line;
    }
  }
}

.castCon {
  @include pageContainer;

  h2 {
    margin: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 228px;
    margin: 4px 0 16px 0;
    padding: 0;

    li {
      height: 76px;
      width: 25%;
      padding-right: 15px;
      list-style-type: none;

      @media (max-width: 1020px) {
        width: 50%;
      }
      @media (max-width: 720px) {
        width: 100%;
      }
    }
  }
  .castCard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
      width: 56px;
      height: 56px;
      border-radius: 5px;
      margin-right: 12px;
    }
    .castDescCon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      .castName {
        margin: 0;
        color: $medium-black;
        font-size: 17px;
        font-weight: 400;
      }
      .castRole {
        margin: 4px 0 0 0;
        color: $medium-gray;
        font-size: 14px;
      }
    }
    .borderBottom {
      border-bottom: solid 1px $extra-light-gray;
    }
  }
}

.commentsCon {
  @include pageContainer;

  header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      .commentCount {
        color: $pink;
        font-weight: 400;
      }
    }
    .moreComments {
      color: $pink;
      cursor: pointer;
    }
  }
  .commentGridCon {
    overflow: hidden;
    margin-bottom: 80px;
  }
  .commentsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px 8px;
    width: 100%;
    padding: 0;

    @media (max-width: 760px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      display: flex;
    }
  }
}
