@import "../utils/common.module.scss";

.headerBackground {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 550px;
  margin: 0;
}
.headerCon {
  @include pageContainer;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;
  color: $white;

  h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
  }
  .headerText {
    margin-top: 8px;
    line-height: 18px;
    font-size: 14px;
  }
}

.panelBackground {
  display: flex; // 자식의 width에 margin이 포함되어 계산
  margin-bottom: 60px;
  background-color: #f7f7f7;
}
.panelCon {
  @include pageContainer;

  display: flex;
  width: 100%;
  padding: 30px 0 60px 0;
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
  color: $medium-gray;

  .imageCon {
    display: flex;
    flex-direction: column;

    img {
      width: 280px;
      height: 430px;
      padding-bottom: 30px;
    }
  }
  .reviewCon {
    width: 100%;
    margin-left: 32px;

    .reviewNav {
      display: flex;
      height: 100px;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px $light-gray;
      padding-bottom: 10px;

      .userRatingCon {
        display: flex;
        flex-direction: column;
        width: 220px;

        .starRatingBox {
          height: 44px;
        }
        .userRatingTextBox {
          margin: 10px 0 0 6px;
        }
      }
      .avgRatingCon {
        display: flex;
        flex-direction: column;
        align-items: center;

        .avgRatingDigit {
          margin-bottom: 8px;
          line-height: 42px;
          font-size: 36px;
          font-weight: 400;
          color: $pink;
        }
      }
      .reviewMenuCon {
        display: flex;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 62px;
          list-style-type: none;
          cursor: pointer;

          .reviewMenuIconBox {
            height: 50px;
            fill: currentColor;

            svg {
              width: 42px;
              height: 40px;
              padding: 0;
              transition: transform 0.3s ease;
            }
          }

          &:hover {
            color: $light-black;

            svg {
              fill: $light-black;
              transform: scale(1.3);
            }
          }
        }
      }
    }

    // .userCommentCon {
    //   display: flex;
    //   align-items: center;
    //   width: 100%;
    //   height: 64px;
    //   margin: 20px 0;
    //   border: solid 1px $light-gray;
    //   border-radius: 6px;
    //   padding: 12px 0;
    //   background-color: $white;

    //   .userCommentBox {
    //     margin: 0 20px;
    //   }
    // }
    .overviewBox {
      min-height: 150px;
      margin: 20px 0;

      line-height: 22px;
      font-size: 14px;
      white-space: pre-line;
    }
  }

  .borderBottom {
    border-bottom: solid 1px $light-gray;
  }
}

.castCon {
  @include pageContainer;

  h2 {
    margin: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 228px;
    margin: 4px 0 16px 0;
    padding: 0;

    li {
      height: 76px;
      width: 25%;
      padding-right: 15px;
      list-style-type: none;

      @media (max-width: 1020px) {
        width: 50%;
      }
      @media (max-width: 720px) {
        width: 100%;
      }
    }
  }
  .castCard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;

    img {
      width: 56px;
      height: 56px;
      border-radius: 5px;
      margin-right: 12px;
    }
    .castDescCon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      .castName {
        margin: 0;
        color: $medium-black;
        font-size: 17px;
        font-weight: 400;
      }
      .castRole {
        margin: 4px 0 0 0;
        color: $medium-gray;
        font-size: 14px;
      }
    }
    .borderBottom {
      border-bottom: solid 1px $extra-light-gray;
    }
  }
}

.commentsCon {
  @include pageContainer;

  header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      .commentCount {
        color: $pink;
        font-weight: 400;
      }
    }
    .moreComments {
      color: $pink;
      cursor: pointer;
    }
  }
  .commentGridCon {
    overflow: hidden;
  }
  .commentsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px 8px;
    width: 100%;
    padding: 0;

    @media (max-width: 760px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      display: flex;
    }

    li {
      min-width: 100%;
      border-radius: 6px;
      padding: 0 12px;
      background-color: $extra-light-gray;
      list-style-type: none;

      .commentHead {
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #e5e5e5;

        .userBox {
          display: flex;
          align-items: center;
          height: 100%;
          font-size: 17px;
          font-weight: 400;
          cursor: pointer;

          img {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            border: solid 1px $light-gray;
            border-radius: 50%;
          }
        }
        .reviewRating {
          display: flex;
          align-items: center;
          border: solid 1px $light-gray;
          border-radius: 16px;
          padding: 0 8px;
          height: 26px;
          font-size: 14px;
          font-weight: 400;
          color: $light-black;
          background-color: $white;

          svg {
            margin-right: 3px;
            fill: $light-black;
          }
        }
      }
      .commentTextBox {
        width: 100%;
        height: 120px;
        margin: 12px 0 15px 0;

        .commentText {
          display: block;
          line-height: 24px;
          font-size: 14px;
          font-weight: 400;
          word-break: break-all;
          white-space-collapse: preserve;
          cursor: pointer;
        }
      }
      .commentFeedbackCon {
        display: flex;
        align-items: center;
        height: 46px;
        border-bottom: solid 1px #e5e5e5;
        border-top: solid 1px #e5e5e5;
        font-size: 14px;
        font-weight: 400;
        color: $medium-gray;

        img {
          width: 18px;
          height: 18px;
          margin: 0 3px;
        }
      }
      .commentLikeBtnBox {
        width: 100%;
        padding: 10px 0;
        button {
          margin-left: -4px;
          border-style: none;
          padding: 2px 8px;
          line-height: 22px;
          font-size: 17px;
          font-weight: 400;
          color: $pink;
          cursor: pointer;
        }
      }
    }
  }
}
