footer {
  width: 100%;

  .commentNumber {
    margin: 0;
    background-color: #101113;
    line-height: 62px;
    height: 62px;
    text-align: center;

    span {
      margin: 0 auto;
      color: #d1d1d2;
      font-size: 19px;
      font-weight: 500;
      letter-spacing: -0.3px;
      line-height: 22px;

      em {
        color: #ff0558;
        font-style: normal;
      }
    }
  }
}
