// color
$dark-black: #000000;
$medium-black: #292a32;
$light-black: #353535;

$dark-gray: #7e7e7e;
$medium-gray: #888888;
$light-gray: #d9d9d9;
$extra-light-gray: #f2f2f2;

$white: #ffffff;

$pink: #ff0558;
$light-pink: #ffacbb;
$orange: #f88b08;

$max-screen: 1320px;

